html,
body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  /*border: 1px solid blue;*/
}
.mainlogo {
  width: 100%;
}

.mainlogo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.navbar {
  background-color: white;
}

.nav {
  background: #E52929;
  border-bottom: none;
}
.nav li {
  margin-left: .5%;
  margin-right: .5%;
}

.navitem a {
  color: white;
  float: none;
}

.footer {
  background: #E52929;
  width: 100%;
}
.footercomment1 {
  color: white;
  padding: 10px;
}
/*Logan*/

h2.red,
h4.red {
  color: #E52929;
}

h6.makeGray,
p {
  color: #95989A;
}

.faves {
  text-align: center;
}

.sweetfaves,
.savefaves {
  color: #95989A;
}

a.redlink {
  color: #E52929;
  text-decoration: none;
}

a.redlink:hover {
  color: #E52929;
  text-decoration: none;
}
