html,
body {
  margin: 0;
  padding: 0;
}
* {
  border: 1px solid blue;
}

.mainlogo {
  width: 100%;
}
.mainlogo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
.navbar {
  background-color: white;
}
.nav {
  background: #E52929;
  border-bottom: none;
}


.navitem a {
  color: white;
  text-decoration: none;
}
