html,
body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  /*border: 1px solid blue;*/
}

.mainlogo {
  width: 100%;
}

.mainlogo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.navbar {
  background-color: white;
}

.nav {
  background: #E52929;
  border-bottom: none;
}
.nav li {
  margin-left: .5%;
  margin-right: .5%;
}

.navitem a {
  color: white;
  float: none;
}

.footer {
  background: #E52929;
  width: 100%;
}
.footercomment1 {
  color: white;
  padding: 10px;
}
.menusavory {
  border-left: 1px solid #E52929;
}

.foodpic img {
  border: 1px solid #E52929;
  border-radius: 50px;
  width: 100%;
}

.foodpic {
  display: none;
  height: 100px;
}
/*Logan*/


.maincontainer {
  margin-top: 45%;
  text-align: center;
}

.responsPic {
  height: auto;
  width: 100%;
}


h2.red,
h4.red {
  color: #E52929;
}

h6.makeGray,
p {
  color: #95989A;
}

.faves {
  text-align: center;
}

.sweetfaves,
.savefaves {
  color: #95989A;
}

a.redlink {
  color: #E52929;
  text-decoration: none;
}

a.redlink:hover {
  color: #E52929;
  text-decoration: none;
}

h2 {
  text-align: center;
}

.weOpen {
  margin-top: 8%;
}

.mappy {
  margin-top: 8%;
}

.storymain {
  text-align: left;
}

@media (min-width: 830px) {
  .maincontainer {
    margin-top: 20%;
  }
}

@media (min-width: 1200px) {
  .maincontainer {
    margin-top: 15%;
  }
  .foodpic {
    display: block;
  }
}
